body{
    background: url(../images/bookshelf.jpg) no-repeat #161718;
width: 1280px;
height: 720px;
}
.form__login{
    position: absolute;
    width: 300px;
    height: 323px;
    left: 590px;
    top: 198px;
}
.login{  
    margin-top: 50px;
box-sizing: border-box;
width: 300px;
height: 45px;
border: 1px solid #FFFFFF;
border-radius: 4px;
}
.password{ 
box-sizing: border-box;
width: 300px;
height: 45px;
border: 1px solid #FFFFFF;
border-radius: 4px;
margin-top: 20px;
margin-bottom: 40px;
}
.login__btn{
    cursor: pointer;
width: 300px;
height: 45px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
border-radius: 4px; 
}
.login__text{  
position: absolute;
width: 146px;
height: 20px;
left: 144px;
top: 301px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #FFFFFF;
text-decoration: none;
}
.login__text2{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-align: center;
text-transform: uppercase;
color: #0D75FF;
cursor: pointer;
}
